{% extends "NsmApiBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

    {{ form(loginForm) }}
    <a href="{{ path('fos_user_registration_register', app.request.query.all ) }}">Register</a>

{% endblock fos_user_content %}
