/*
Grid

https://github.com/suitcss/grid/blob/master/grid.css

*/

/**
 * All content must be contained within child `Grid-cell` elements.
 *
 * 1. Account for browser defaults of elements that might be the root node of
 *    the component.
 * 2. Ensure consistent default alignment.
 * 3. Remove inter-cell whitespace that appears between `inline-block` child
 *    elements.
 */
%Grid {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;

    // Grids should always be overflow:visible ^LG
    // See: https://bugzilla.mozilla.org/show_bug.cgi?id=1036404
    overflow: visible !important;
}

%Grid-cell {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

%Grid-cell--top {
    align-self: flex-start;
}

%Grid-cell--bottom {
    align-self: flex-end;
}

%Grid-cell--left {
    margin-right: auto;
}

%Grid-cell--right {
    margin-left: auto;
}

%Grid-cell--debug{
    background-color: rgba(0,0,0,.05);
    &:before {
        background: rgba(255,0,0,.1);
        display: block;
        width: 100%;
        content: attr(class);
    }
}

%Grid-cell--debug:nth-child(2n+1){
    background-color: rgba(0,0,0,.2);
}


%Grid--column {
    flex-direction: column;
}

%Grid--inline {
    display: inline-flex;
}

.Grid {
    @extend %Grid;
}

.Grid-cell {
    @extend %Grid-cell;
}

.Grid-cell--left  {
    @extend %Grid-cell--left;
}

.Grid-cell--right {
    @extend %Grid-cell--right;
}

.Grid-cell--bottom {
    @extend %Grid-cell--bottom;
}

.Grid-cell--top {
    @extend %Grid-cell--bottom;
}

.Grid--column {
    @extend %Grid--column;
}

.Grid--inline {
    @extend %Grid--inline;
}

.Grid-cell--debug {
    @extend %Grid-cell--debug;
}


.Grid.Grid--withGutters {

    @extend %outset-horizontal-default;

    > .Grid-cell {
        @extend %pad-horizontal-default;
    }

    > .Grid-cell > .Grid {
        @extend %outset-horizontal-default;
    }

}
