{% extends 'NsmAppBundle::layout.html.twig' %}

{% block content -%}

    <h1>Feature</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('feature_browse') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('feature_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('feature_destroy', { 'id': entity.id }) }}">
                Destroy
            </a>
        </li>
    </ul>

    {{ dump(entity) }}

{% endblock %}
