.Button {
    background: transparent;
    border: 0px solid transparent;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    margin: 0;
    padding: 0 8px;
    position: relative;
    -webkit-appearance: none;
    vertical-align: bottom;
}

.Button:hover,
.Button:focus,
.Button:active {
    z-index: 1;
}

.Button-label {
    display: inline-block;
    vertical-align: bottom;
}

.Button-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    // http://fantasai.inkedblade.net/style/discuss/flexbox-min-size/
    min-width: 24px;
    // http://css-tricks.com/cascading-svg-fill-color/
    fill: currentColor;

    svg, img {
        display: block;
        width: 100%;
        height: 100%;
    }
}


.Button--bordered {
}

.Button--rounded {
    border-radius: 5px;
}

.Button--square {
    border-radius: 0;
}

.Button--small {

    font-size: 14px;
    line-height: 18px;
    padding: 4px;

    &.Button--bordered,
    &.Button--link:hover{
        border-width: 1px;
        padding: 3px;
    }

    .Button-icon {
        padding: 2px;
        width: 14px;
        height: 14px;
        min-width: 14px;
    }
}

.Button--medium {
    font-size: 14px;
    line-height: 24px;
    padding: 6px;
    &.Button--bordered,
    &.Button--link:hover{
        border-width: 1px;
        padding: 5px;
    }
    .Button-label:first-child {
        margin-left: .25em;
    }
    .Button-label:last-child {
        margin-right: .25em;
    }
}

.Button--large {
    font-size: 18px;
    line-height: 24px;
    padding: 12px;
    &.Button--bordered,
    &.Button--link:hover{
        border-width: 1px;
        padding: 11px;
    }
}

.Button--default {
    color: palette("grey", "800");
    &:not(.Button--link),
    &.Button--link:hover {
        background: palette("grey", "100");
    }
    &.Button--bordered,
    &.Button--link:hover {
        border-color: $border-primary-colour;
    }
}

.Button--primary {
    color: palette("blue", "500");
    &:not(.Button--link),
    &.Button--link:hover {
        background: palette("blue", "500");
        color: white;
    }
    &.Button--bordered,
    &.Button--link:hover {
        border-color: palette("blue", "800");
    }
}

.Button--success {
    color: palette("lightGreen", "500");
    &:not(.Button--link),
    &.Button--link:hover {
        background: palette("lightGreen", "500");
        color: white;
    }
    &.Button--bordered,
    &.Button--link:hover {
        border-color: palette("lightGreen", "800");
    }
}

.Button--info {
    color: palette("lightBlue", "500");
    &:not(.Button--link),
    &.Button--link:hover {
        background: palette("lightBlue", "500");
        color: white;
    }
    &.Button--bordered,
    &.Button--link:hover {
        border-color: palette("lightBlue", "800");
    }
}

.Button--warning {
    color: palette("orange", "500");
    &:not(.Button--link),
    &.Button--link:hover {
        background: palette("orange", "500");
        color: white;
    }
    &.Button--bordered,
    &.Button--link:hover {
        border-color: palette("orange", "800");
    }
}

.Button--danger {
    color: palette("red", "500");
    &:not(.Button--link),
    &.Button--link:hover {
        background: palette("red", "500");
        color: white;
    }
    &.Button--bordered,
    &.Button--link:hover {
        border-color: palette("red", "800");
    }
}

.SegmentButton {
    display: flex;

    .Button {
        margin: 0;
    }
    .Button:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .Button:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
    }

}

.ButtonGroup {
    display: inline-flex;
    vertical-align: middle;
}
.ButtonGroup .Button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
.ButtonGroup .Button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ButtonGroup .Button:hover {
    position: relative;
    z-index: 1;
}
