%Button,
.Button {
    -webkit-appearance: none;
    color: inherit;
    font: inherit;
    user-select: none;
    white-space: normal;
    background: transparent;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    display: inline-flex;
    vertical-align: middle;
    font-weight: bold;

    &:focus,
    &:active {
//        outline:1px solid palette("lightBlue", "500");
    }
}

%Button-label,
.Button-label {
    display: inline-block;
    vertical-align: bottom;
    line-height: 24px;
    padding-left: 2px;
    padding-right: 2px;
}

%Button-icon,
.Button-icon {
    vertical-align: bottom;
    display: inline-block;
    height: 24px;
    width: auto;
}

// Bordered Button
%Button--bordered,
.Button--bordered{
    border: 1px solid $border-primary-colour;

    &:focus,
    &:active{
//        outline:none;
//        border-color: palette("lightBlue", "500");
    }

    &:hover {
    }
    .Button-label {
    }
    .Button-icon {
    }
}

// Link Button
%Button--link,
.Button--link{
    background: white;
    .Button-label {
    }
    .Button-icon {
    }
    :hover {
    }
}

// Rounded Button
%Button--rounded,
.Button--rounded{
    border-radius: 5px;
}

%Button--small,
.Button--small{

    padding: 2px;

    .Button-label {
        line-height: 18px;
    }
    .Button-icon {
        height: 18px;
    }
}

%Button--large,
.Button--large{

    line-height: 24px;
    padding: 11px;

    .Button-label {
    }

    .Button-icon {
        height: 24px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

%Button--submit,
.Button--submit {
    @extend %Button--bordered;
    @extend %Button--rounded;
    padding-left: 1rem;
    padding-right: 1rem;
    background: white;
    background-image: linear-gradient(palette("grey", "100"), palette("grey", "300"));
    box-shadow: inset 0 1px 1px white;
}

.ButtonGroup {
    display: inline-flex;
    vertical-align: middle;
}
.ButtonGroup .Button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
.ButtonGroup .Button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ButtonGroup .Button:hover {
    position: relative;
    z-index: 1;
}
