.DataGrid{}
.DataGrid-results-header {
    font-size: 14px;
    margin-bottom: 8px;
}

.DataGrid-paginationSummary{}

.DataGrid-exportButton{
    @extend %Button;
    @extend %Button--small;
    @extend %Button--link;

    vertical-align: baseline;
}
