.Flyout {
    @include materialShadow(2);
    background: white;
    background-clip: padding-box;
    border: 1px solid palette("black", "divider");
    display:none;
    padding: 4px 0;
    border-radius: 4px;
    margin-top: 0;
}
