.InputGroup {
    display: flex;
}

.InputGroup > *:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

.InputGroup > *:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.InputGroup > *:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

%textControl {
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid palette("black", "hintText");
    border-radius: 0;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.10);
    box-sizing: border-box !important;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 7px 11px;
    vertical-align: bottom;
    width: 100%;
    &:focus,
    &.focus {
        border-color: palette("lightBlue", "500");
    }
}

%selectControl {
    @extend %textControl;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url("/themes/default/images/icons/select-toggle.svg");
    padding-right: 30px;
}

%ghostInput {
    box-shadow: none;
    border-color: transparent;
    margin: 0;
    position: relative;
    &:focus,
    &.focus{
        outline: 1px solid palette("lightBlue", "500");
        outline-offset: 0;
    }
}

%ghostControlGroup {

    padding: 0 !important;

    > .ControlGroup-body {

        padding: 0 !important;

        > .Control > .Control-body > .Control-input,
        > .Control > .Control-body > .Control-input > .selectize-input{
            @extend %ghostInput;
        }
    }
}



label .required {
    color: palette("red", "500");
}

/**
 * Form
 */
.Form {
    margin: 0;
}

.Form-header {
}

.Form-title {
}

.Form-body {
    background: white;
}

.Form-footer {
    padding-top: 8px;
    text-align: right;
}

.Form-errors {
    margin: 4px 0;
    list-style-type: none;
    background: palette("red", "50");
    border: 1px solid palette("red", "100");
    padding: 0;

    > li {
        font-size: 14px;
        margin: 8px;
    }
}

/**
 * Control Group Collection
 */

.ControlGroupCollection--table {
    > .ControlGroupCollection-body {
        > .ControlGroup {
            > .ControlGroup-header {
            }
            > .ControlGroup-body {
            }
        }
        > .ControlGroup {
        }
        > .ControlGroup.ControlGroup--singleControl {
            @extend %ghostControlGroup;
        }
    }
}

.ControlGroupCollection--stacked {
    display: block;
    > .ControlGroupCollection-body {
        display: block;
        > .ControlGroup {
            display: block;
            > .ControlGroup-header {
                display: block;
                > .ControlGroup-label {
                    font-size: 18px;
                    line-height: 20px;
                }
                > .ControlGroup-help {
                    font-size: 14px;
                }
            }
            > .ControlGroup-body {
                display: block;
            }
            > .ControlGroup-footer {
                display: block;
            }
        }
    }
}

/**
 * Control Group
 */
.ControlGroup {
    margin-bottom: 36px;
}

.ControlGroup--singleControl {
}

.ControlGroup--multiControl {
}

.ControlGroup-header {
    margin-bottom: 16px;
}

.ControlGroup-label {
    display: block;
    color: palette("grey", "800");
    font-weight: bold;
}

.ControlGroup-help {
    color: palette("grey", "600");
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.ControlGroup-body {
}

.ControlGroup-footer {
}

.ToolbarForm {

    .Form-body {
        background: none;
    }

    .ControlGroup,
    .Form-footer {
        display: table-cell;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
    }

    .ControlGroup-header {
        display: none;
    }
}

/**
 * Control
 */
.Control {
    position: relative;
}

.Control-header {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
    position: relative;
}

.Control-label {
    display: block;
}

.Control-help {
    color: palette("grey", "600");
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0
}

.Control-body {
}

.Control-footer {
}

.Control-body > .Control {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-right: 8px;
}

/**
 * ControlInput
 */
.Control-input {
}

.Control-input--text,
.Control-input--password,
.Control-input--search,
.Control-input--datetime,
.Control-input--number,
.Control-input--textarea,
.Control-input--email,
.Control-input--invitation_code{
    @extend %textControl;
}

.Control-input--choice {
    @extend %selectControl;
}

.Control-input--radio {
}

.Control-inputSeperator,
.Control--datetime select,
.Control--date select,
.Control--birthday select {
    vertical-align: middle;
    display: inline-block;
    width: auto;
    margin-right: 4px;
    &:last-child {
        margin-right: 0
    }
}

/**
 * Collection
 */

.Control--nsm_collection > .Control-body {
}

.Collection {
}

.Collection--stacked {

    display: block;

    > .Collection-header {

        display: none;

    }
    > .Collection-body {

        display: block;

        > .CollectionItem {

            border: 1px solid $border-secondary-colour;
            display: block;
            padding: 19px;
            margin-bottom: 8px;
            margin-left: 36px;
            margin-right: 36px;

            > .ControlGroup {

                display: block;

                > .ControlGroup-header {

                    display: block;
                    margin-bottom: 12px;

                    > .ControlGroup-label {
                        font-size: 16px;
                        line-height: 20px;
                    }

                    > .ControlGroup-help {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.Collection--table {
    > .Collection-body {
        > .CollectionItem {
            > .ControlGroup {
                > .ControlGroup-header {
                }
                > .ControlGroup-body {
                }
            }
            > .ControlGroup.ControlGroup--singleControl {
                @extend %ghostControlGroup;
            }
        }
    }
}

.ChoiceList {
}

.ChoiceList-choice {
    display: inline-block;
    position: relative;
    margin-right: 16px;

    > input {
        position: absolute;
        left: 14px;
        top: 12px;
    }

    > input[type=checkbox] {
        top: 13px;
    }

    > input:checked + label {
        background: palette("green", "50");
    }

    > label {
        @extend %textControl;
        cursor: pointer;
        padding-left: 35px;
    }
}

.ControlGroupCollection--table > tbody > tr > th {
    border-right: none;
    text-align: right;
    vertical-align: middle;
    max-width: 200px;
}

.selectize-control {
    position: relative;
    cursor: pointer;

    &.single{
        .selectize-input {
            @extend %selectControl;
        }
    }
    &.multi{
        .selectize-input {
            @extend %textControl;

            &.has-items {

                padding: 4px 0 0 4px;

                > div {
                    line-height: 20px;
                    padding: 2px 6px;
                    margin:0 4px 4px 0;
                    background: palette("grey", "100");
                    border: 1px solid palette("grey", "200");

                    &.active {
                        background: palette("grey", "200");
                        border-color: palette("grey", "300");
                    }
                }

            }


        }
    }

    .selectize-input > input {
        border: none;
        display: inline-block;
        line-height: 20px;
        -webkit-appearance: none;
        outline: none;
        padding:0;
        margin:0;
    }

    .selectize-input > div {
        display: inline-block;
    }

    .selectize-dropdown {
        @extend .Flyout;
        border-radius: 0;
        position: absolute;
        box-sizing: border-box;
        > .selectize-dropdown-content > div {
            cursor: pointer;
            line-height: 18px;
            margin: 0;
            display: block;
            padding: 6px 12px;
            &:hover {
                background: palette("grey", "100");
            }
        }
    }
}
