.Menu  {

    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;

    > .Menu-item {

        line-height: 24px;
        margin: 0;
        padding: 0;

        &:hover {
            background: palette("grey", "50");
        }

        > .Menu-item-link {

            display: block;

            > .Menu-item-link-icon {
                display: block;
                width: 24px;
                height: 24px;
                padding: 12px;
                background: lightpink;
            }

            > .Menu-item-link-label {
                display: none;
            }
        }
    }

    + .Menu {
        border-top: 1px solid palette("grey", "200");
    }
}

