{% extends 'NsmAppBundle::layout.html.twig' %}

{% block content -%}
    <h1>Activity edit</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('activity_browse') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
