{% extends 'NsmAppBundle::layout.html.twig' %}

{% block page_breadcrumb %}
    <div class="Page-breadcrumbs">
        <a href='{{ path('project_browse') }}' data-pjax>Projects</a>
    </div>
{% endblock %}

{% block page_title -%}
    <h1 class="Page-title">Project Details</h1>
{% endblock -%}

{% block page_body -%}
    {{ dump(entity) }}
{% endblock %}
