/**
 * Breakpoints
 * http://www.sitepoint.com/managing-responsive-breakpoints-sass/
 * https://github.com/guardian/sass-mq
 */
/*
Load a colour from the palette

@see: http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
*/
/*
.item{
    z-index  : 1;
    position : relative;
    display  : block;
 
    margin  : 10px;
    padding : 10px;
    background-color : #fff;
 
    &:before, &:after{
        z-index  : -1;
 
        position : absolute;
        display  : block;
        content  : ' ';
 
        width    : 100%;
        height   : 100%;
 
        top  : 0px;
        left : 0px;
 
        margin  : 0;
        padding : 0;
    }
 
    @include materialShadow(2);
    &:hover { @include materialShadow(1); }
    &:active{ @include materialShadow(3); }
}
/**/
.Grid.Grid--withGutters > .Grid-cell {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Grid.Grid--withGutters, .Grid.Grid--withGutters > .Grid-cell > .Grid {
  margin-left: -1rem;
  margin-right: -1rem;
}

.flush {
  padding: 0;
  margin: 0;
}

/*
Fractional width units

$fractions - Map of fractions
$suffix - appended to the classname
$prefix - prepended to the classname
*/
.unit-1of12 {
  width: 8.33333%;
}

.unit-pull1of12 {
  right: 8.33333%;
}

.unit-push1of12 {
  left: 8.33333%;
}

.unit-2of12 {
  width: 16.66667%;
}

.unit-pull2of12 {
  right: 16.66667%;
}

.unit-push2of12 {
  left: 16.66667%;
}

.unit-3of12 {
  width: 25%;
}

.unit-pull3of12 {
  right: 25%;
}

.unit-push3of12 {
  left: 25%;
}

.unit-4of12 {
  width: 33.33333%;
}

.unit-pull4of12 {
  right: 33.33333%;
}

.unit-push4of12 {
  left: 33.33333%;
}

.unit-5of12 {
  width: 41.66667%;
}

.unit-pull5of12 {
  right: 41.66667%;
}

.unit-push5of12 {
  left: 41.66667%;
}

.unit-6of12 {
  width: 50%;
}

.unit-pull6of12 {
  right: 50%;
}

.unit-push6of12 {
  left: 50%;
}

.unit-7of12 {
  width: 58.33333%;
}

.unit-pull7of12 {
  right: 58.33333%;
}

.unit-push7of12 {
  left: 58.33333%;
}

.unit-8of12 {
  width: 66.66667%;
}

.unit-pull8of12 {
  right: 66.66667%;
}

.unit-push8of12 {
  left: 66.66667%;
}

.unit-9of12 {
  width: 75%;
}

.unit-pull9of12 {
  right: 75%;
}

.unit-push9of12 {
  left: 75%;
}

.unit-10of12 {
  width: 83.33333%;
}

.unit-pull10of12 {
  right: 83.33333%;
}

.unit-push10of12 {
  left: 83.33333%;
}

.unit-11of12 {
  width: 91.66667%;
}

.unit-pull11of12 {
  right: 91.66667%;
}

.unit-push11of12 {
  left: 91.66667%;
}

.unit-12of12 {
  width: 100%;
}

.unit-pull12of12 {
  right: 100%;
}

.unit-push12of12 {
  left: 100%;
}

@media all and (min-width: 20em) {
  .unit-1of12-at-mobile {
    width: 8.33333%;
  }

  .unit-pull1of12-at-mobile {
    right: 8.33333%;
  }

  .unit-push1of12-at-mobile {
    left: 8.33333%;
  }

  .unit-2of12-at-mobile {
    width: 16.66667%;
  }

  .unit-pull2of12-at-mobile {
    right: 16.66667%;
  }

  .unit-push2of12-at-mobile {
    left: 16.66667%;
  }

  .unit-3of12-at-mobile {
    width: 25%;
  }

  .unit-pull3of12-at-mobile {
    right: 25%;
  }

  .unit-push3of12-at-mobile {
    left: 25%;
  }

  .unit-4of12-at-mobile {
    width: 33.33333%;
  }

  .unit-pull4of12-at-mobile {
    right: 33.33333%;
  }

  .unit-push4of12-at-mobile {
    left: 33.33333%;
  }

  .unit-5of12-at-mobile {
    width: 41.66667%;
  }

  .unit-pull5of12-at-mobile {
    right: 41.66667%;
  }

  .unit-push5of12-at-mobile {
    left: 41.66667%;
  }

  .unit-6of12-at-mobile {
    width: 50%;
  }

  .unit-pull6of12-at-mobile {
    right: 50%;
  }

  .unit-push6of12-at-mobile {
    left: 50%;
  }

  .unit-7of12-at-mobile {
    width: 58.33333%;
  }

  .unit-pull7of12-at-mobile {
    right: 58.33333%;
  }

  .unit-push7of12-at-mobile {
    left: 58.33333%;
  }

  .unit-8of12-at-mobile {
    width: 66.66667%;
  }

  .unit-pull8of12-at-mobile {
    right: 66.66667%;
  }

  .unit-push8of12-at-mobile {
    left: 66.66667%;
  }

  .unit-9of12-at-mobile {
    width: 75%;
  }

  .unit-pull9of12-at-mobile {
    right: 75%;
  }

  .unit-push9of12-at-mobile {
    left: 75%;
  }

  .unit-10of12-at-mobile {
    width: 83.33333%;
  }

  .unit-pull10of12-at-mobile {
    right: 83.33333%;
  }

  .unit-push10of12-at-mobile {
    left: 83.33333%;
  }

  .unit-11of12-at-mobile {
    width: 91.66667%;
  }

  .unit-pull11of12-at-mobile {
    right: 91.66667%;
  }

  .unit-push11of12-at-mobile {
    left: 91.66667%;
  }

  .unit-12of12-at-mobile {
    width: 100%;
  }

  .unit-pull12of12-at-mobile {
    right: 100%;
  }

  .unit-push12of12-at-mobile {
    left: 100%;
  }
}
@media all and (min-width: 46.25em) {
  .unit-1of12-at-tablet {
    width: 8.33333%;
  }

  .unit-pull1of12-at-tablet {
    right: 8.33333%;
  }

  .unit-push1of12-at-tablet {
    left: 8.33333%;
  }

  .unit-2of12-at-tablet {
    width: 16.66667%;
  }

  .unit-pull2of12-at-tablet {
    right: 16.66667%;
  }

  .unit-push2of12-at-tablet {
    left: 16.66667%;
  }

  .unit-3of12-at-tablet {
    width: 25%;
  }

  .unit-pull3of12-at-tablet {
    right: 25%;
  }

  .unit-push3of12-at-tablet {
    left: 25%;
  }

  .unit-4of12-at-tablet {
    width: 33.33333%;
  }

  .unit-pull4of12-at-tablet {
    right: 33.33333%;
  }

  .unit-push4of12-at-tablet {
    left: 33.33333%;
  }

  .unit-5of12-at-tablet {
    width: 41.66667%;
  }

  .unit-pull5of12-at-tablet {
    right: 41.66667%;
  }

  .unit-push5of12-at-tablet {
    left: 41.66667%;
  }

  .unit-6of12-at-tablet {
    width: 50%;
  }

  .unit-pull6of12-at-tablet {
    right: 50%;
  }

  .unit-push6of12-at-tablet {
    left: 50%;
  }

  .unit-7of12-at-tablet {
    width: 58.33333%;
  }

  .unit-pull7of12-at-tablet {
    right: 58.33333%;
  }

  .unit-push7of12-at-tablet {
    left: 58.33333%;
  }

  .unit-8of12-at-tablet {
    width: 66.66667%;
  }

  .unit-pull8of12-at-tablet {
    right: 66.66667%;
  }

  .unit-push8of12-at-tablet {
    left: 66.66667%;
  }

  .unit-9of12-at-tablet {
    width: 75%;
  }

  .unit-pull9of12-at-tablet {
    right: 75%;
  }

  .unit-push9of12-at-tablet {
    left: 75%;
  }

  .unit-10of12-at-tablet {
    width: 83.33333%;
  }

  .unit-pull10of12-at-tablet {
    right: 83.33333%;
  }

  .unit-push10of12-at-tablet {
    left: 83.33333%;
  }

  .unit-11of12-at-tablet {
    width: 91.66667%;
  }

  .unit-pull11of12-at-tablet {
    right: 91.66667%;
  }

  .unit-push11of12-at-tablet {
    left: 91.66667%;
  }

  .unit-12of12-at-tablet {
    width: 100%;
  }

  .unit-pull12of12-at-tablet {
    right: 100%;
  }

  .unit-push12of12-at-tablet {
    left: 100%;
  }
}
@media all and (min-width: 61.25em) {
  .unit-1of12-at-desktop {
    width: 8.33333%;
  }

  .unit-pull1of12-at-desktop {
    right: 8.33333%;
  }

  .unit-push1of12-at-desktop {
    left: 8.33333%;
  }

  .unit-2of12-at-desktop {
    width: 16.66667%;
  }

  .unit-pull2of12-at-desktop {
    right: 16.66667%;
  }

  .unit-push2of12-at-desktop {
    left: 16.66667%;
  }

  .unit-3of12-at-desktop {
    width: 25%;
  }

  .unit-pull3of12-at-desktop {
    right: 25%;
  }

  .unit-push3of12-at-desktop {
    left: 25%;
  }

  .unit-4of12-at-desktop {
    width: 33.33333%;
  }

  .unit-pull4of12-at-desktop {
    right: 33.33333%;
  }

  .unit-push4of12-at-desktop {
    left: 33.33333%;
  }

  .unit-5of12-at-desktop {
    width: 41.66667%;
  }

  .unit-pull5of12-at-desktop {
    right: 41.66667%;
  }

  .unit-push5of12-at-desktop {
    left: 41.66667%;
  }

  .unit-6of12-at-desktop {
    width: 50%;
  }

  .unit-pull6of12-at-desktop {
    right: 50%;
  }

  .unit-push6of12-at-desktop {
    left: 50%;
  }

  .unit-7of12-at-desktop {
    width: 58.33333%;
  }

  .unit-pull7of12-at-desktop {
    right: 58.33333%;
  }

  .unit-push7of12-at-desktop {
    left: 58.33333%;
  }

  .unit-8of12-at-desktop {
    width: 66.66667%;
  }

  .unit-pull8of12-at-desktop {
    right: 66.66667%;
  }

  .unit-push8of12-at-desktop {
    left: 66.66667%;
  }

  .unit-9of12-at-desktop {
    width: 75%;
  }

  .unit-pull9of12-at-desktop {
    right: 75%;
  }

  .unit-push9of12-at-desktop {
    left: 75%;
  }

  .unit-10of12-at-desktop {
    width: 83.33333%;
  }

  .unit-pull10of12-at-desktop {
    right: 83.33333%;
  }

  .unit-push10of12-at-desktop {
    left: 83.33333%;
  }

  .unit-11of12-at-desktop {
    width: 91.66667%;
  }

  .unit-pull11of12-at-desktop {
    right: 91.66667%;
  }

  .unit-push11of12-at-desktop {
    left: 91.66667%;
  }

  .unit-12of12-at-desktop {
    width: 100%;
  }

  .unit-pull12of12-at-desktop {
    right: 100%;
  }

  .unit-push12of12-at-desktop {
    left: 100%;
  }
}
@media all and (min-width: 81.25em) {
  .unit-1of12-at-wide {
    width: 8.33333%;
  }

  .unit-pull1of12-at-wide {
    right: 8.33333%;
  }

  .unit-push1of12-at-wide {
    left: 8.33333%;
  }

  .unit-2of12-at-wide {
    width: 16.66667%;
  }

  .unit-pull2of12-at-wide {
    right: 16.66667%;
  }

  .unit-push2of12-at-wide {
    left: 16.66667%;
  }

  .unit-3of12-at-wide {
    width: 25%;
  }

  .unit-pull3of12-at-wide {
    right: 25%;
  }

  .unit-push3of12-at-wide {
    left: 25%;
  }

  .unit-4of12-at-wide {
    width: 33.33333%;
  }

  .unit-pull4of12-at-wide {
    right: 33.33333%;
  }

  .unit-push4of12-at-wide {
    left: 33.33333%;
  }

  .unit-5of12-at-wide {
    width: 41.66667%;
  }

  .unit-pull5of12-at-wide {
    right: 41.66667%;
  }

  .unit-push5of12-at-wide {
    left: 41.66667%;
  }

  .unit-6of12-at-wide {
    width: 50%;
  }

  .unit-pull6of12-at-wide {
    right: 50%;
  }

  .unit-push6of12-at-wide {
    left: 50%;
  }

  .unit-7of12-at-wide {
    width: 58.33333%;
  }

  .unit-pull7of12-at-wide {
    right: 58.33333%;
  }

  .unit-push7of12-at-wide {
    left: 58.33333%;
  }

  .unit-8of12-at-wide {
    width: 66.66667%;
  }

  .unit-pull8of12-at-wide {
    right: 66.66667%;
  }

  .unit-push8of12-at-wide {
    left: 66.66667%;
  }

  .unit-9of12-at-wide {
    width: 75%;
  }

  .unit-pull9of12-at-wide {
    right: 75%;
  }

  .unit-push9of12-at-wide {
    left: 75%;
  }

  .unit-10of12-at-wide {
    width: 83.33333%;
  }

  .unit-pull10of12-at-wide {
    right: 83.33333%;
  }

  .unit-push10of12-at-wide {
    left: 83.33333%;
  }

  .unit-11of12-at-wide {
    width: 91.66667%;
  }

  .unit-pull11of12-at-wide {
    right: 91.66667%;
  }

  .unit-push11of12-at-wide {
    left: 91.66667%;
  }

  .unit-12of12-at-wide {
    width: 100%;
  }

  .unit-pull12of12-at-wide {
    right: 100%;
  }

  .unit-push12of12-at-wide {
    left: 100%;
  }
}
/*
Grid

https://github.com/suitcss/grid/blob/master/grid.css

*/
/**
 * All content must be contained within child `Grid-cell` elements.
 *
 * 1. Account for browser defaults of elements that might be the root node of
 *    the component.
 * 2. Ensure consistent default alignment.
 * 3. Remove inter-cell whitespace that appears between `inline-block` child
 *    elements.
 */
.Grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  padding: 0;
  overflow: visible !important;
}

.Grid-cell {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Grid-cell--bottom, .Grid-cell--top {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.Grid-cell--left {
  margin-right: auto;
}

.Grid-cell--right {
  margin-left: auto;
}

.Grid-cell--debug {
  background-color: rgba(0, 0, 0, 0.05);
}
.Grid-cell--debug:before {
  background: rgba(255, 0, 0, 0.1);
  display: block;
  width: 100%;
  content: attr(class);
}

.Grid-cell--debug:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.2);
}

.Grid--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Grid--inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.Button {
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: normal;
  background: transparent;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 5px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.Button:active,
.Button.bordered {
  border-color: #ccc;
}
.Button:active:hover,
.Button.bordered:hover {
  border-color: #999;
}

.Button.rounded {
  border-radius: 3px;
}

.Button-label {
  display: inline-block;
  vertical-align: bottom;
  line-height: 24px;
  padding-left: 2px;
  padding-right: 2px;
}

.Button-icon {
  vertical-align: bottom;
  display: inline-block;
  height: 24px;
  width: auto;
}

.Button--small {
  padding: 2px;
}

.Button--small .Button-label {
  line-height: 18px;
}

.Button--small .Button-icon {
  height: 18px;
}

.Button--large {
  line-height: 24px;
  padding: 11px;
}

.Button--large .Button-icon {
  height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.ButtonGroup {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.ButtonGroup .Button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.ButtonGroup .Button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ButtonGroup .Button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Flyout {
  position: relative;
  z-index: 1;
  background: white;
  border: 1px solid #eee;
  display: none;
}
.Flyout:before {
  opacity: 0.16;
  box-shadow: 0px 1px 1.5px transparent, 0px 3px 3px black, 0px 10px 10px transparent, 0px 14px 14px transparent, 0px 19px 19px transparent;
}
.Flyout:after {
  opacity: 0.23;
  box-shadow: 0px 1px 1px transparent, 0px 3px 3px black, 0px 6px 3px transparent, 0px 10px 5px transparent, 0px 15px 6px transparent;
}
.Flyout:before, .Flyout:after {
  z-index: -1;
  position: absolute;
  display: block;
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
}

.InputGroup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.InputGroup > *:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.InputGroup > *:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.InputGroup > *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Control-input--choice, .Control-input--text,
.Control-input--password,
.Control-input--search,
.Control-input--datetime,
.Control-input--number,
.Control-input--textarea, .ChoiceList-choice > label {
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box !important;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 7px 7px;
  vertical-align: bottom;
  width: 100%;
}
.Control-input--choice:focus, .Control-input--text:focus,
.Control-input--password:focus,
.Control-input--search:focus,
.Control-input--datetime:focus,
.Control-input--number:focus,
.Control-input--textarea:focus, .ChoiceList-choice > label:focus {
  outline: none;
  border-color: #039be5;
}

.Control-input--choice {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("/themes/default/images/icons/select-toggle.svg");
  padding-right: 30px;
}

label .required {
  color: #e51c23;
}

/**
 * Form
 */
.Form {
  margin: 0;
}

.Form-footer {
  padding-top: 8px;
  text-align: right;
}

/**
 * Control Group Collection
 */
.ControlGroupCollection--stacked {
  display: block;
}
.ControlGroupCollection--stacked > .ControlGroupCollection-body {
  display: block;
}
.ControlGroupCollection--stacked > .ControlGroupCollection-body > .ControlGroup {
  display: block;
}
.ControlGroupCollection--stacked > .ControlGroupCollection-body > .ControlGroup > .ControlGroup-header {
  display: block;
}
.ControlGroupCollection--stacked > .ControlGroupCollection-body > .ControlGroup > .ControlGroup-header > .ControlGroup-label {
  font-size: 18px;
  line-height: 20px;
}
.ControlGroupCollection--stacked > .ControlGroupCollection-body > .ControlGroup > .ControlGroup-header > .ControlGroup-help {
  font-size: 14px;
}
.ControlGroupCollection--stacked > .ControlGroupCollection-body > .ControlGroup > .ControlGroup-body {
  display: block;
}
.ControlGroupCollection--stacked > .ControlGroupCollection-body > .ControlGroup > .ControlGroup-footer {
  display: block;
}

/**
 * Control Group
 */
.ControlGroup {
  margin-bottom: 36px;
}

.ControlGroup-header {
  margin-bottom: 16px;
}

.ControlGroup-label {
  color: #333;
  display: block;
  font-weight: bold;
}

.ControlGroup-help {
  color: #555;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.ToolbarForm .ControlGroup,
.ToolbarForm .Form-footer {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}
.ToolbarForm .ControlGroup-header {
  display: none;
}

/**
 * Control
 */
.Control {
  position: relative;
}

.Control-header {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  position: relative;
}

.Control-label {
  color: #333;
  display: block;
}

.Control-help {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.Control-body > .Control {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin-right: 8px;
}

/**
 * ControlInput
 */
.Control-inputSeperator,
.Control--datetime select,
.Control--date select,
.Control--birthday select {
  vertical-align: middle;
  display: inline-block;
  width: auto;
  margin-right: 4px;
}
.Control-inputSeperator:last-child,
.Control--datetime select:last-child,
.Control--date select:last-child,
.Control--birthday select:last-child {
  margin-right: 0;
}

/**
 * Collection
 */
.Collection--stacked {
  display: block;
}
.Collection--stacked > .Collection-header {
  display: none;
}
.Collection--stacked > .Collection-body {
  display: block;
}
.Collection--stacked > .Collection-body > .CollectionItem {
  border: 1px solid #B2B2B2;
  display: block;
  padding: 20px;
  margin-bottom: 8px;
}
.Collection--stacked > .Collection-body > .CollectionItem > .ControlGroup {
  display: block;
}
.Collection--stacked > .Collection-body > .CollectionItem > .ControlGroup > .ControlGroup-header {
  display: block;
  margin-bottom: 12px;
}
.Collection--stacked > .Collection-body > .CollectionItem > .ControlGroup > .ControlGroup-header > .ControlGroup-label {
  font-size: 16px;
  line-height: 20px;
}
.Collection--stacked > .Collection-body > .CollectionItem > .ControlGroup > .ControlGroup-header > .ControlGroup-help {
  font-size: 14px;
}

.ChoiceList-choice {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
.ChoiceList-choice > input {
  position: absolute;
  left: 14px;
  top: 12px;
}
.ChoiceList-choice > input[type=checkbox] {
  top: 13px;
}
.ChoiceList-choice > input:checked + label {
  background: #d0f8ce;
}
.ChoiceList-choice > label {
  cursor: pointer;
  padding-left: 35px;
}

.Menu {
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  width: 192px;
}

.Menu + .Menu {
  border-top: 1px solid #ccc;
}

.Menu > * {
  line-height: 24px;
  margin: 0;
  padding: 4px 0;
}
.Menu > * > * {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
}
.Menu > *:hover {
  background: #eee;
}

/*
Table

.Table--bordered - Bordered. Adds horizontal Table row borders
.Table--data.Panel - Data wrapped in a panel. Table--data inherists Table--border styling.
.Table--description
.Table--striped - Striped Table rows
.Table--summary
.Table--tight.Table--data.Panel - Data wrapped in a panel. Table--data inherists Table--border styling.

Styleguide Table
*/
td, th {
  text-align: left;
}

.Table {
  display: table;
  width: 100%;
  border: none;
}

.Table tr {
  display: table-row;
}

.Table th, .Table td {
  display: table-cell;
}

/*
TableRow

.TableRow{}
.TableRow--info{}
.TableRow--success{}
.TableRow--warning{}
.TableRow--danger{}

Styleguide TableRow
*/
.TableRow--info {
  background: #e1f5fe !important;
}

.TableRow--success {
  background: #f1f8e9 !important;
}

.TableRow--warning {
  background: #fff3e0 !important;
}

.TableRow--danger {
  background: #fde0dc !important;
}

/*
TableCell

.TableCell{}
.TableCell--info{}
.TableCell--success{}
.TableCell--warning{}
.TableCell--danger{}

Styleguide TableCell
*/
.Table .TableCell--info {
  background: #e1f5fe !important;
}
.Table .TableCell--success {
  background: #f1f8e9 !important;
}
.Table .TableCell--warning {
  background: #fff3e0 !important;
}
.Table .TableCell--danger {
  background: #fde0dc !important;
}
.Table .TableCell--fill {
  width: 100%;
}
.Table .TableCell--tight {
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 40px;
}
.Table .TableCell--icon {
  text-align: center;
  padding: 0 !important;
  width: 1px;
}
.Table .TableCell--expanded {
  background: whitesmoke;
}

.Table--data,
.Collection--table,
.ControlGroupCollection--table {
  border: 1px solid black;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
}
.Table--data > thead > tr > th, .Table--data > thead > tr > td,
.Table--data > tbody > tr > th,
.Table--data > tbody > tr > td,
.Table--data > tfoot > tr > th,
.Table--data > tfoot > tr > td,
.Collection--table > thead > tr > th,
.Collection--table > thead > tr > td,
.Collection--table > tbody > tr > th,
.Collection--table > tbody > tr > td,
.Collection--table > tfoot > tr > th,
.Collection--table > tfoot > tr > td,
.ControlGroupCollection--table > thead > tr > th,
.ControlGroupCollection--table > thead > tr > td,
.ControlGroupCollection--table > tbody > tr > th,
.ControlGroupCollection--table > tbody > tr > td,
.ControlGroupCollection--table > tfoot > tr > th,
.ControlGroupCollection--table > tfoot > tr > td {
  border-right: 1px solid red;
  padding: 8px 8px;
  vertical-align: top;
}
.Table--data > thead > tr > th:last-child, .Table--data > thead > tr > td:last-child,
.Table--data > tbody > tr > th:last-child,
.Table--data > tbody > tr > td:last-child,
.Table--data > tfoot > tr > th:last-child,
.Table--data > tfoot > tr > td:last-child,
.Collection--table > thead > tr > th:last-child,
.Collection--table > thead > tr > td:last-child,
.Collection--table > tbody > tr > th:last-child,
.Collection--table > tbody > tr > td:last-child,
.Collection--table > tfoot > tr > th:last-child,
.Collection--table > tfoot > tr > td:last-child,
.ControlGroupCollection--table > thead > tr > th:last-child,
.ControlGroupCollection--table > thead > tr > td:last-child,
.ControlGroupCollection--table > tbody > tr > th:last-child,
.ControlGroupCollection--table > tbody > tr > td:last-child,
.ControlGroupCollection--table > tfoot > tr > th:last-child,
.ControlGroupCollection--table > tfoot > tr > td:last-child {
  border-right: none;
}
.Table--data > thead > tr > th, .Table--data > thead > tr > td,
.Collection--table > thead > tr > th,
.Collection--table > thead > tr > td,
.ControlGroupCollection--table > thead > tr > th,
.ControlGroupCollection--table > thead > tr > td {
  border-bottom: 1px solid red;
}
.Table--data > thead > tr > th,
.Collection--table > thead > tr > th,
.ControlGroupCollection--table > thead > tr > th {
  background: pink;
}
.Table--data > thead > tr:last-child > th, .Table--data > thead > tr:last-child > td,
.Collection--table > thead > tr:last-child > th,
.Collection--table > thead > tr:last-child > td,
.ControlGroupCollection--table > thead > tr:last-child > th,
.ControlGroupCollection--table > thead > tr:last-child > td {
  border-bottom: 1px solid green;
}
.Table--data > tbody > tr > th, .Table--data > tbody > tr > td,
.Collection--table > tbody > tr > th,
.Collection--table > tbody > tr > td,
.ControlGroupCollection--table > tbody > tr > th,
.ControlGroupCollection--table > tbody > tr > td {
  border-bottom: 1px solid blue;
}
.Table--data > tbody > tr > th,
.Collection--table > tbody > tr > th,
.ControlGroupCollection--table > tbody > tr > th {
  background: lightblue;
}
.Table--data > tbody > tr:last-child > th, .Table--data > tbody > tr:last-child > td,
.Collection--table > tbody > tr:last-child > th,
.Collection--table > tbody > tr:last-child > td,
.ControlGroupCollection--table > tbody > tr:last-child > th,
.ControlGroupCollection--table > tbody > tr:last-child > td {
  border-bottom: none;
}
.Table--data > tfoot > tr:first-child > th, .Table--data > tfoot > tr:first-child > td,
.Collection--table > tfoot > tr:first-child > th,
.Collection--table > tfoot > tr:first-child > td,
.ControlGroupCollection--table > tfoot > tr:first-child > th,
.ControlGroupCollection--table > tfoot > tr:first-child > td {
  border-top: 3px solid green;
  border-width: 3px;
}
.Table--data > tfoot > tr > th, .Table--data > tfoot > tr > td,
.Collection--table > tfoot > tr > th,
.Collection--table > tfoot > tr > td,
.ControlGroupCollection--table > tfoot > tr > th,
.ControlGroupCollection--table > tfoot > tr > td {
  border-top: 1px solid green;
}

.Collection--table > tbody > tr > td > .ControlGroup-header {
  display: none;
}

.Toolbar {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 4px;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.Toolbar:before {
  opacity: 0.12;
  box-shadow: 0px 1px 1.5px black, 0px 3px 3px transparent, 0px 10px 10px transparent, 0px 14px 14px transparent, 0px 19px 19px transparent;
}
.Toolbar:after {
  opacity: 0.24;
  box-shadow: 0px 1px 1px black, 0px 3px 3px transparent, 0px 6px 3px transparent, 0px 10px 5px transparent, 0px 15px 6px transparent;
}
.Toolbar:before, .Toolbar:after {
  z-index: -1;
  position: absolute;
  display: block;
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
}

.Toolbar.bordered {
  padding: 3px;
  border: 1px solid transparent;
}

.ToolbarGroup {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

.ToolbarGroup:last-of-type {
  margin-right: 0;
}

.ToolbarGroup > * {
  background: red;
}

.ToolbarGroup > * + * {
  margin-left: 4px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#App-body {
  position: relative;
}

#App-body.move-left {
  -webkit-transform: translate3d(300px, 0, 0);
          transform: translate3d(300px, 0, 0);
}

#App-body.move-right {
  -webkit-transform: translate3d(300px, 0, 0);
          transform: translate3d(300px, 0, 0);
}

.SidebarNav {
  background: red;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
}

.SidebarNav--left {
  left: -300px;
}

.SidebarNav--right {
  right: -300px;
}

.Page {
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

.Page-header {
  border-bottom: 1px dotted #ccc;
  margin-top: 54px;
  margin-bottom: 32px;
  padding-bottom: 8px;
  display: table;
  vertical-align: bottom;
  width: 100%;
}

.Page-header-main {
  display: table-cell;
  vertical-align: bottom;
}

.Page-header-actions {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
}

.Page-title {
  margin: 0;
  font-size: 32px;
  line-height: 36px;
}

.Page-actions > * + * {
  margin-left: 4px;
}

.Panel-header {
  display: table;
  vertical-align: bottom;
  width: 100%;
}

.Panel-header-main {
  display: table-cell;
  vertical-align: bottom;
}

.Panel-title {
  font-size: 18px;
  line-height: 36px;
  margin: 0;
}

.Panel-title > h1 {
  font: inherit;
}

.Panel-header-actions {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
}

.Pagination {
  margin-top: 8px;
  margin-bottom: 8px;
}

.DataGrid-paginationSummary {
  font-size: 14px;
}

.Pagination-totalResults {
  opacity: .5;
}

.Page-breadcrumbs {
  margin-bottom: 8px;
}
