{% extends 'NsmAppBundle::layout.html.twig' %}

{% block page_title %}
    <h1 class="Page-title">Dashboard</h1>
{% endblock %}

{% block page_body -%}

{% endblock %}

{% block page_actions %}
<button class="Button Button--medium Button--success Button--bordered">
    <span class="Button-icon">
        <svg viewBox="0 0 24 24"><g id="add"><path d="M19,13h-6v6h-2v-6H5v-2h6V5h2v6h6V13z"></path></g></svg>
    </span>
</button>
{% endblock %}


