{% extends 'NsmApiBundle::layout.html.twig' %}

{% block body -%}
    <h1>Task edit</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('tasks_browse') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
