{% extends 'NsmApiBundle::layout.html.twig' %}

{% block content -%}
    <h1>Activity creation</h1>

    {{ form(form) }}

    <div>
        <a href="{{ path('activity_browse') }}">
            Back to the list
        </a>
    </div>
{% endblock %}
