{% extends 'NsmApiBundle::layout.html.twig' %}

{% block content -%}
    <h1>Task edit</h1>

    {{ form(edit_form) }}

    <div>
        <a href="{{ path('task_browse') }}">
            Back to the list
        </a>
    </div>
{% endblock %}
