{% extends 'ClubEvoApiBundle::layout.html.twig' %}

{% set entities = pager.getCurrentPageResults %}

{% block content %}

    <h1>Distributor Employee list</h1>

    {% include 'ClubEvoApiBundle:DistributorEmployee:_partials/collection.html.twig' with {
        "entities": entities
    } %}

    <div>
        <a href="{{ path('distributor_employee_add') }}">
            Create a new entry
        </a>
    </div>
{% endblock %}
