{% extends "NsmAppBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}
    <h1 class="Page-title">Login</h1>
{% endblock page_title %}

{% block page_body %}
    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}
    {{ form(loginForm) }}

{% endblock page_body %}
