{% extends 'NsmAppBundle::layout.html.twig' %}

{% block meta_title "Add Project / Projects" %}

{% block page_breadcrumb %}
    <p class="Page-breadcrumbs">
        <a href='{{ path('project_browse') }}'>Tasks</a>
    </p>
{% endblock %}

{% block page_title %}
    <h1 class="Page-title">Add Task</h1>
{% endblock %}

{% block page_actions %}{% endblock %}

{% block page_body -%}

    {{ form(form) }}

{% endblock %}
