{% set entities = pager.getCurrentPageResults %}

{% block content -%}
Showing {{ pager.currentPageFirstResultOffset }} - {{ pager.currentPageLastResultOffset }} of {{ pager.totalResultCount }} results
{% for entity in entities %}
    <div>
        {{ entity.title }}
    </div>
{% endfor %}
{% endblock %}
