{% extends 'NsmApiBundle::layout.html.twig' %}

{% block content -%}

    <h1>Project</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('project_browse') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('project_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('project_destroy', { 'id': entity.id }) }}">
                Destroy
            </a>
        </li>
    </ul>

    {{ dump(entity) }}

{% endblock %}
